:root {
   --text-color-light: #fff;
   --text-color-dark: #333;
   --text-color-primary: #ed1c24;

   --primary-color-dark: #851b21;
   --primary-color: #ed1c24;
   --primary-color-light: #fe6332;
   --bs-font-sans-serif: 'Helvetica Neue', Helvetica, Arial, sans-serif;

   --primary-font: 'Benguiat';
   --secondary-font: 'Netflix Sans', sans-serif;

   --trailer-text: 20px;
}
