@import './base_fonts';
@import './base_variables';
@import './base_common';
@import './base_mixins';

.navbar-MARK {
   @include flex(100%, default, black);
   flex-direction: row;

   &__left,
   &__right {
      @include flex(40%, 72px);
      align-items: center;
      border-bottom: 1px solid #474747;

      &-item {
         @include text(1.8rem, #474747, 72px, 900);
      }
      &-item:hover {
         color: var(--primary-color);
         text-shadow: 0 0 20px var(--primary-color);
         cursor: pointer;
      }
   }
   &__left {
      padding-left: 10%;
      justify-content: flex-start;
      &-item {
         padding-right: 50px;
      }
   }
   &__right {
      padding-right: 10%;
      justify-content: flex-end;
      &-item {
         padding-left: 50px;
      }
   }
   &__logo {
      @include block(20%);
      margin: 0 60px;
      &-img {
         @include block(100%);
         object-fit: contain;
         object-position: center center;
      }
   }
}

.wallpaper {
   @include block(100%, 41vw, black);
   position: relative;
   z-index: 0;
   &__img {
      @include block(100%, 100%);
      position: absolute;
      top: 0;
      left: 0;
      object-fit: contain;
      object-position: center center;
      filter: brightness(0.9);
      z-index: 1;
      opacity: 0;
      animation: Loop 25s infinite;
   }
   &__img:nth-child(2) {
      animation-delay: 5s;
   }
   &__img:nth-child(3) {
      animation-delay: 10s;
   }
   &__img:nth-child(4) {
      animation-delay: 15s;
   }
   &__img:nth-child(5) {
      animation-delay: 20s;
   }
   &__trailer {
      @include flex();
      z-index: 2;
      position: absolute;
      bottom: 100px;
      left: 40px;
      &-icon {
         @include block(50px, 50px);
         border-radius: 50%;
         background: linear-gradient(
            135deg,
            rgba(237, 28, 36, 1) 0%,
            rgba(255, 62, 69, 1) 20%,
            rgba(158, 0, 6, 1) 47%,
            rgba(255, 62, 69, 1) 70%,
            rgba(237, 28, 36, 1) 91%
         );
         box-shadow: 0 0 5px var(--primary-color-dark);
         position: relative;

         &-caret {
            @include block(40%, 40%);
            @include text(default, #474747);
            @include absoluteCenter();
            z-index: 3;
            transform: rotate(90deg);
            transform-origin: 55% 5%;
         }
      }
      &-icon::after {
         content: '';
         @include block(47px, 47px, black);
         @include absoluteCenter();
         border-radius: 50%;
         box-shadow: inset 0 0 5px var(--primary-color-dark);
      }
      &-text {
         @include flex();
         flex-direction: column;
         justify-content: center;
         margin-left: 12px;
      }
      &-text-top {
         @include text(1.6rem, var(--primary-color));
         font-style: italic;
         margin-bottom: 2px;
      }
      &-text-bottom {
         @include text(1.6rem, #474747, default, 900);
         font-style: italic;
      }
   }
}

.recap {
   @include block(100%, default, black);
   position: relative;
   z-index: 0;
   &__start-line {
      position: absolute;
      top: 8%;
      left: 0;
      right: 0;
      height: 1px;
   }
   &__background {
      @include block(100%);
      object-fit: contain;
      object-position: center center;
      box-shadow: inset 0 0 10px 10px black;
      filter: brightness(0.9);
      z-index: 1;
   }
   &__overlay {
      @include block(100%, 100%);
      background: linear-gradient(
         180deg,
         black 0%,
         rgba(0, 0, 0, 0.9) 2%,
         rgba(0, 0, 0, 0.8) 4%,
         rgba(0, 0, 0, 0.7) 6%,
         rgba(0, 0, 0, 0.6) 8%,
         rgba(0, 0, 0, 0.5) 10%,
         rgba(0, 0, 0, 0.4) 12%,
         rgba(0, 0, 0, 0.3) 14%,
         rgba(0, 0, 0, 0.2) 16%,
         rgba(0, 0, 0, 0.1) 18%,
         transparent 20%,
         transparent 90%,
         rgba(0, 0, 0, 0.1) 91%,
         rgba(0, 0, 0, 0.2) 92%,
         rgba(0, 0, 0, 0.3) 93%,
         rgba(0, 0, 0, 0.4) 94%,
         rgba(0, 0, 0, 0.5) 95%,
         rgba(0, 0, 0, 0.6) 96%,
         rgba(0, 0, 0, 0.7) 97%,
         rgba(0, 0, 0, 0.8) 98%,
         rgba(0, 0, 0, 0.9) 99%,
         black 100%
      );
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
   }
   &__title {
      @include flex(40%, default, transparent);
      @include absoluteCenter('X');
      top: 13%;
      flex-direction: column;
      align-items: center;
      z-index: 3;

      &-main {
         @include text(6rem, var(--primary-color));
         font-family: var(--primary-font);
         text-shadow: 0 0 20px black, 0 0 40px black;
         letter-spacing: 2px;
         margin-bottom: 8px;
      }
      &-description {
         @include text(1.6rem, white);
         font-style: italic;
         text-shadow: 0 0 5px black, 0 0 5px black;
      }
   }
   &__poster {
      @include block(12%, 30%, red);
      position: absolute;
      border-radius: 6px;
      box-shadow: 0px 0px 40px 0px var(--primary-color-dark), 0px 0px 50px 0px black;
      z-index: 3;
      transition: transform linear 0.5s, box-shadow linear 0.5s;
      transform: translateY(0) scale(1);
      transform-origin: 50% 50%;
      cursor: pointer;

      &--season-1 {
         top: 44%;
         left: 8%;
      }
      &--season-2 {
         top: 29%;
         left: 31%;
      }
      &--season-3 {
         top: 29%;
         right: 31%;
      }
      &--season-4 {
         top: 44%;
         right: 8%;
      }

      &--season-1::after,
      &--season-2::after,
      &--season-3::after,
      &--season-4::after {
         @include block(100%, 60px);
         @include text(2rem, var(--primary-color), 7rem, default, center);
         background: linear-gradient(transparent 0%, black 33%);
         position: absolute;
         bottom: -40px;
         left: 0;
         font-family: var(--primary-font);
         text-shadow: 0 0 10px var(--primary-color-dark);
         border-bottom-left-radius: 6px;
         border-bottom-right-radius: 6px;
         display: none;
         animation: Appear linear 0.2s;
      }
      &--season-1::after {
         content: 'SEASON 1';
      }
      &--season-2::after {
         content: 'SEASON 2';
      }
      &--season-3::after {
         content: 'SEASON 3';
      }
      &--season-4::after {
         content: 'SEASON 4';
      }
      &--season-1::before,
      &--season-2::before,
      &--season-3::before,
      &--season-4::before {
         content: '';
         @include block(100%, calc(100% + 40px), transparent);
         position: absolute;
         top: 0;
         left: 0;
         border-radius: 6px;
         border: 2px solid red;
         box-shadow: 0 0 10px red, inset 0 0 10px red, 0 0 5px red, inset 0 0 5px red;
         z-index: 4;
         display: none;
         animation: Appear linear 0.2s;
      }
      &--season-1:hover::after,
      &--season-2:hover::after,
      &--season-3:hover::after,
      &--season-4:hover::after,
      &--season-1:hover::before,
      &--season-2:hover::before,
      &--season-3:hover::before,
      &--season-4:hover::before {
         display: block;
      }
      &-img {
         @include block(100%, 100%);
         object-fit: cover;
         object-position: center center;
         border-radius: 6px;
      }
   }
   &__poster:hover {
      transform: translateY(-5%) scale(1.05);
      box-shadow: 0px 0px 40px 5px var(--primary-color-dark), 0px 0px 50px 5px black;
   }
}

.modal {
   &__close {
      @include block(48px, 48px);
      position: absolute;
      top: 6%;
      right: 3%;
      cursor: pointer;
      z-index: 50;
      opacity: 0.7;
   }
   &__close:hover {
      opacity: 1;
   }
   &__close-icon {
      @include block(60%, 60%);
      @include absoluteCenter();
      -webkit-filter: drop-shadow(0 0 10px var(--primary-color-dark)) drop-shadow(0 0 5px black);
      filter: drop-shadow(0 0 10px var(--primary-color-dark)) drop-shadow(0 0 5px black);
   }
   &__prev,
   &__next {
      height: 60%;
      transform: translateY(-50%);
      top: 50%;
   }
}

.modal-s1,
.modal-s2,
.modal-s3,
.modal-s4 {
   &__overlay {
      @include block(default, default, rgba(0, 0, 0, 0.5));
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: 40;
      animation: Appear ease 0.5s;
      display: none;
   }
   &__area {
      @include block(default, 43.294270833333336vw);
      @include absoluteCenter();
      position: fixed;
      z-index: 41;
      animation: FloatFromBottom ease 0.5s;
      display: none;
   }
   &__background {
      @include block(default, 100%);
      -webkit-filter: drop-shadow(0 0 10px var(--primary-color)) drop-shadow(0 0 20px var(--primary-color))
         drop-shadow(0 0 30px black);
      filter: drop-shadow(0 0 10px var(--primary-color)) drop-shadow(0 0 20px var(--primary-color))
         drop-shadow(0 0 30px black);
   }
}

.modal__carousel {
   position: absolute;
   top: 10%;
   right: 3%;
   bottom: 7%;
   left: 3%;
   &-item-content {
      height: 35vw;
      background: transparent;
      position: relative;

      &-background {
         @include flex(95%, 100%);
         @include absoluteCenter();
         justify-content: flex-end;
      }
      &-background::after {
         content: '';
         @include block(100%, 100%);
         position: absolute;
         top: 0;
         left: 0;
         background: linear-gradient(90deg, black 0%, transparent 90%, black 100%),
            linear-gradient(
               180deg,
               black 0%,
               rgba(0, 0, 0, 0.9) 2%,
               rgba(0, 0, 0, 0.8) 4%,
               rgba(0, 0, 0, 0.7) 6%,
               rgba(0, 0, 0, 0.6) 8%,
               rgba(0, 0, 0, 0.5) 10%,
               rgba(0, 0, 0, 0.4) 12%,
               rgba(0, 0, 0, 0.3) 14%,
               rgba(0, 0, 0, 0.2) 16%,
               rgba(0, 0, 0, 0.1) 18%,
               transparent 20%,
               transparent 80%,
               rgba(0, 0, 0, 0.1) 82%,
               rgba(0, 0, 0, 0.2) 84%,
               rgba(0, 0, 0, 0.3) 86%,
               rgba(0, 0, 0, 0.4) 88%,
               rgba(0, 0, 0, 0.5) 90%,
               rgba(0, 0, 0, 0.6) 92%,
               rgba(0, 0, 0, 0.7) 94%,
               rgba(0, 0, 0, 0.8) 96%,
               rgba(0, 0, 0, 0.9) 98%,
               black 100%
            );
      }
      &-img {
         @include block(80%, default);
         object-fit: cover;
         border: 1px solid black;
      }
      &-text {
         @include block(35%, 65%);
         @include text(1.5rem, white, 1.8rem, 400, justify);
         font-family: var(--secondary-font);
         position: absolute;
         top: 10%;
         left: 10%;
         opacity: 0.6;
         z-index: 50;
         padding-right: 10px;
         overflow-y: auto;
      }
      &-text::-webkit-scrollbar {
         width: 10px;
         height: 10px;
         background-color: rgba(0, 0, 0, 0.95);
         box-shadow: inset 0 0 8px rgba(237, 28, 36, 0.2);
      }

      &-text::-webkit-scrollbar-thumb {
         border-radius: 10px;
         box-shadow: inset 0 0 10px rgba(237, 28, 36, 0.1);
         background-color: #4a0e11;
      }
      &-text p {
         text-indent: 25px;
      }
   }
   &-caption > h5 {
      @include text(2.5rem, var(--primary-color));
      font-family: var(--primary-font);
      text-shadow: 0 0 20px black, 0 0 40px black;
   }
   &-caption > p {
      @include text(1.6rem);
      font-style: italic;
      font-weight: normal;
      font-weight: lighter;
      text-shadow: 0 0 5px black, 0 0 5px black;
   }
}

#recap__checkbox-season-1:checked ~ .modal-s1__overlay,
#recap__checkbox-season-2:checked ~ .modal-s2__overlay,
#recap__checkbox-season-3:checked ~ .modal-s3__overlay,
#recap__checkbox-season-4:checked ~ .modal-s4__overlay,
#recap__checkbox-season-1:checked ~ .modal-s1__area,
#recap__checkbox-season-2:checked ~ .modal-s2__area,
#recap__checkbox-season-3:checked ~ .modal-s3__area,
#recap__checkbox-season-4:checked ~ .modal-s4__area {
   display: block;
}

.trailer {
   @include block(100%, 55vw);
   position: relative;
   z-index: 0;
   background: linear-gradient(
         180deg,
         black 0%,
         rgba(0, 0, 0, 0.9) 2%,
         rgba(0, 0, 0, 0.8) 4%,
         rgba(0, 0, 0, 0.7) 6%,
         rgba(0, 0, 0, 0.6) 8%,
         rgba(0, 0, 0, 0.5) 10%,
         rgba(0, 0, 0, 0.4) 12%,
         rgba(0, 0, 0, 0.3) 14%,
         rgba(0, 0, 0, 0.2) 16%,
         rgba(0, 0, 0, 0.1) 18%,
         transparent 20%,
         transparent 80%,
         rgba(0, 0, 0, 0.1) 82%,
         rgba(0, 0, 0, 0.2) 84%,
         rgba(0, 0, 0, 0.3) 86%,
         rgba(0, 0, 0, 0.4) 88%,
         rgba(0, 0, 0, 0.5) 90%,
         rgba(0, 0, 0, 0.6) 92%,
         rgba(0, 0, 0, 0.7) 94%,
         rgba(0, 0, 0, 0.8) 96%,
         rgba(0, 0, 0, 0.9) 98%,
         black 100%
      ),
      linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url('../imgs/trailer_background.jpg') center center / cover no-repeat;

   &__start-line {
      position: absolute;
      top: 8%;
      left: 0;
      right: 0;
      height: 1px;
   }
   &__title {
      @include flex(40%, default, transparent);
      @include absoluteCenter('X');
      top: 13%;
      flex-direction: column;
      align-items: center;
      z-index: 3;

      &-main {
         @include text(6rem, var(--primary-color));
         font-family: var(--primary-font);
         text-shadow: 0 0 20px var(--primary-color-dark), 0 0 40px var(--primary-color-dark);
         letter-spacing: 2px;
         margin-bottom: 8px;
      }
      &-description {
         @include text(1.6rem, white);
         font-style: italic;
         text-shadow: 0 0 5px var(--primary-color), 0 0 5px var(--primary-color);
      }
   }
   &__arrow {
      @include block(default, 2.25vw);
      object-fit: cover;
      object-position: center center;
      position: absolute;
      z-index: 7;
      padding: 0.45vw 0;
      -webkit-filter: drop-shadow(0 0 2px var(--primary-color)) drop-shadow(0 0 5px var(--primary-color-dark))
         drop-shadow(0 0 10px var(--primary-color-dark)) drop-shadow(0 0 10px black);
      filter: drop-shadow(0 0 2px var(--primary-color)) drop-shadow(0 0 5px var(--primary-color-dark))
         drop-shadow(0 0 10px var(--primary-color-dark)) drop-shadow(0 0 10px black);
      cursor: pointer;
      top: calc(53.33333% + var(--trailer-text));

      &--next {
         left: 58%;
      }
      &--prev {
         left: 10%;
      }
   }
   &__arrow:hover {
      -webkit-filter: drop-shadow(0 0 2px var(--primary-color)) drop-shadow(0 0 5px var(--primary-color-dark))
         drop-shadow(0 0 10px black) drop-shadow(0 0 10px black) brightness(1.5);
      filter: drop-shadow(0 0 2px var(--primary-color)) drop-shadow(0 0 5px var(--primary-color-dark))
         drop-shadow(0 0 10px black) drop-shadow(0 0 10px black) brightness(1.5);
   }
   &__carousel-main-area {
      @include block(50%, calc(50% + var(--trailer-text)));
      position: absolute;
      top: 31%;
      left: 12%;
      z-index: 2;
   }
   &__carousel-main {
      @include block(100%, 100%);

      &-inner {
         @include block(100%, 100%);
      }
      &-item {
         width: 100%;
         height: 100%;
         position: relative;

         &-img {
            @include block();
            background-color: black;
            width: 95% !important;
            height: calc(95% - var(--trailer-text)) !important;
            object-fit: cover;
            object-position: center center;
            position: absolute;
            bottom: 2.5%;
            right: 0;
            z-index: 5;
            box-shadow: 0 0 20px black;
            filter: brightness(1.1);
            border-radius: 3px;
            border: 5px solid black;

            &-filter {
               @include block(calc(95% - 10px), calc(95% - 10px - var(--trailer-text)));
               background: linear-gradient(
                  225deg,
                  rgba(50, 126, 217, 0.4) 0%,
                  rgba(50, 126, 217, 0) 30%,
                  rgba(50, 126, 217, 0) 50%,
                  rgba(50, 126, 217, 0.2) 100%
               );
               position: absolute;
               bottom: calc(2.5% + 5px);
               right: 5px;
               z-index: 6;
            }
         }
         &-img-background {
            width: 93% !important;
            height: calc(92% - var(--trailer-text)) !important;
            object-fit: cover;
            object-position: center center;
            position: absolute;
            bottom: 0;
            right: 3.5%;
            -webkit-filter: grayscale(100%) brightness(100%) sepia(100%) hue-rotate(-50deg) saturate(700%) contrast(1);
            filter: grayscale(100%) brightness(100%) sepia(100%) hue-rotate(-50deg) saturate(700%) contrast(1);
            z-index: 3;
            border-radius: 3px;

            &-filter {
               @include block(93%, calc(92% - var(--trailer-text)), var(--primary-color-dark));
               position: absolute;
               opacity: 0.15;
               bottom: 0;
               right: 3.5%;
               z-index: 4;
               box-shadow: inset 0 0 10px 10px red;
            }
         }
         &-play {
            @include block(80px, 80px, rgba(0, 0, 0, 0.5));
            @include absoluteCenter();
            border-radius: 50%;
            z-index: 10;
            cursor: pointer;
            transition: filter ease 0.2s, color ease 0.2s;
            top: 50%;
            left: 51%;

            &-border {
               @include block(100%, 100%);
               position: absolute;
               top: 0;
               left: 0;
               object-fit: cover;
               -webkit-filter: drop-shadow(0 0 5px red);
               filter: drop-shadow(0 0 2px red) drop-shadow(0 0 5px red);
            }
            &-caret {
               @include block(30%, 30%);
               @include text(default, rgba(255, 255, 255, 0.6));
               @include absoluteCenter();
               z-index: 12;
               transform: rotate(90deg);
               transform-origin: 55% 5%;
            }
         }
         &-play:hover {
            filter: brightness(1.5);
            &-caret {
               color: rgba(255, 255, 255, 1);
            }
         }
      }
      &-label {
         @include inlineBlock();
         @include text(1.8rem, var(--primary-color-dark));
         font-style: italic;
         position: absolute;
         top: 1%;
         left: 5.5%;
         text-shadow: 0 0 10px var(--primary-color), 0 0 1px black;
      }
      &-time {
         @include inlineBlock();
         @include text(1.6rem, var(--primary-color-dark));
         position: absolute;
         bottom: 2.6%;
         left: 7%;
         text-shadow: 0 0 1px black;
         z-index: 10;
      }
   }
   &__carousel-sub-area {
      @include block(30%, calc(33.33333% + var(--trailer-text)));
      position: absolute;
      top: 39.33333%;
      left: 60%;
      z-index: 0;
   }
   &__carousel-sub {
      @include block(100%, 100%);

      &-inner {
         @include block(100%, 100%);
      }
      &-item {
         width: 100%;
         height: 100%;

         &-img {
            @include block(100%);
            height: calc(100% - var(--trailer-text) - 4px);
            position: absolute;
            bottom: 0;
            left: 0;
            object-fit: cover;
            object-position: center center;
            -webkit-filter: grayscale(100%) brightness(50%) sepia(100%) hue-rotate(-50deg) saturate(700%) contrast(0.9);
            filter: grayscale(100%) brightness(50%) sepia(100%) hue-rotate(-50deg) saturate(700%) contrast(0.9);
            border-radius: 3px;

            &-filter {
               @include block(100%, calc(100% - var(--trailer-text) - 4px));
               background: linear-gradient(180deg, rgba(0, 0, 0, 0.75) 0%, transparent 50%, rgba(0, 0, 0, 0.75) 100%),
                  linear-gradient(
                     270deg,
                     rgba(0, 0, 0, 0.75) 0%,
                     transparent 50%,
                     transparent 70%,
                     rgba(0, 0, 0, 0.75) 100%
                  );
               position: absolute;
               bottom: 0;
               left: 0;
               z-index: 1;
            }
         }
      }
      &-label {
         @include inlineBlock();
         @include text(1.5rem, var(--primary-color-dark));
         font-style: italic;
         position: absolute;
         top: 0;
         left: 10%;
         text-shadow: 0 0 10px var(--primary-color), 0 0 1px black;
      }
   }
   &__video-wrap {
      @include block(default, default, rgba(0, 0, 0, 0.8));
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: none;
      animation: Appear linear 0.3s;
      z-index: 30;
   }
   &__video-frame {
      @include block(100%, default, rgba(0, 0, 0, 0.8));
      @include absoluteCenter();
      padding-bottom: 56.25%;
      border-radius: 10px;
   }
   &__video {
      @include absoluteCenter();
      box-shadow: 0px 0px 40px 10px var(--primary-color-dark);
      border-radius: 10px;
      width: 70%;
      height: 70%;

      &-close {
         @include block(60px, 60px);
         position: absolute;
         top: 3%;
         right: 5%;
         cursor: pointer;
         z-index: 50;
         opacity: 0.7;
      }
      &-close:hover {
         opacity: 1;
      }
      &-close-icon {
         @include block(60%, 60%);
         @include absoluteCenter();
         -webkit-filter: drop-shadow(0 0 10px var(--primary-color-dark)) drop-shadow(0 0 5px black);
         filter: drop-shadow(0 0 10px var(--primary-color-dark)) drop-shadow(0 0 5px black);
      }
   }
}

#trailer-1__checkbox:checked ~ #trailer-1__video-wrap,
#trailer-2__checkbox:checked ~ #trailer-2__video-wrap,
#trailer-3__checkbox:checked ~ #trailer-3__video-wrap {
   display: block;
}

.character {
   @include flex(100%, default, black);
   flex-direction: row;
   position: relative;
   z-index: 0;

   &__background {
      @include block(90%);
      margin-left: auto;
      object-fit: contain;
      object-position: center center;
      filter: brightness(0.9);
      transition: filter ease 0.7s;
   }
   &__start-line {
      position: absolute;
      top: 2%;
      left: 0;
      right: 0;
      height: 1px;
      z-index: 1;
   }

   &__title {
      @include flex(40%, default, transparent);
      position: absolute;
      left: 2%;
      top: 78%;
      flex-direction: column;
      align-items: center;
      z-index: 2;
      filter: brightness(1);
      transition: filter 0.7s;

      &-main {
         @include text(6rem, var(--primary-color));
         font-family: var(--primary-font);
         text-shadow: 0 0 20px black, 0 0 40px var(--primary-color-dark);
         letter-spacing: 2px;
         margin-bottom: 8px;
      }
      &-description {
         @include text(1.6rem, white);
         font-style: italic;
         text-shadow: 0 0 5px black, 0 0 5px var(--primary-color-dark);
      }
   }
   &__overlay {
      @include block(100%, 100%, transparent);
      background: linear-gradient(
         180deg,
         black 0%,
         rgba(0, 0, 0, 0.9) 2%,
         rgba(0, 0, 0, 0.8) 4%,
         rgba(0, 0, 0, 0.7) 6%,
         rgba(0, 0, 0, 0.6) 8%,
         rgba(0, 0, 0, 0.5) 10%,
         rgba(0, 0, 0, 0.4) 12%,
         rgba(0, 0, 0, 0.3) 14%,
         rgba(0, 0, 0, 0.2) 16%,
         rgba(0, 0, 0, 0.1) 18%,
         transparent 20%,
         transparent 80%,
         rgba(0, 0, 0, 0.1) 82%,
         rgba(0, 0, 0, 0.2) 84%,
         rgba(0, 0, 0, 0.3) 86%,
         rgba(0, 0, 0, 0.4) 88%,
         rgba(0, 0, 0, 0.5) 90%,
         rgba(0, 0, 0, 0.6) 92%,
         rgba(0, 0, 0, 0.7) 94%,
         rgba(0, 0, 0, 0.8) 96%,
         rgba(0, 0, 0, 0.9) 98%,
         black 100%
      );
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
   }
   &__crop-section {
      @include block();
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
   }
}

.crop-section {
   &__hover {
      position: absolute;
      cursor: pointer;
      z-index: 4;
      // background-color: red;

      &--argyle {
         @include block(2%, 11%);
         top: 64%;
         left: 95.5%;
      }
      &--dustin {
         @include block(5%, 16%);
         top: 43%;
         left: 82.5%;
      }
      &--eddie {
         @include block(3.5%, 16%);
         top: 62%;
         left: 77.3%;
      }
      &--eleven {
         @include block(7%, 23%);
         top: 11%;
         left: 75%;
      }
      &--erica {
         @include block(3%, 14%);
         top: 60%;
         left: 89%;
      }
      &--hopper {
         @include block(5%, 21%);
         top: 44%;
         left: 51.5%;
      }
      &--jonathan {
         @include block(2%, 10%);
         top: 64%;
         left: 92.8%;
      }
      &--joyce {
         @include block(4%, 15%);
         top: 41%;
         left: 57.8%;
      }
      &--lucas {
         @include block(4%, 19%);
         top: 35%;
         left: 62.5%;
      }
      &--max {
         @include block(6%, 20%);
         top: 25%;
         left: 68%;
      }
      &--mike {
         @include block(6%, 15%);
         top: 27%;
         left: 83%;
      }
      &--murray {
         @include block(3.4%, 20%);
         top: 69%;
         left: 48.5%;
      }
      &--nancy {
         @include block(3%, 12%);
         top: 46%;
         left: 71%;
      }
      &--robin {
         @include block(2.5%, 12%);
         top: 53%;
         left: 74.5%;
      }
      &--steve {
         @include block(5%, 16%);
         top: 60%;
         left: 82%;
      }
      &--will {
         @include block(2.5%, 7%);
         top: 55%;
         left: 92.5%;
      }

      &--argyle::after {
         content: 'Argyle';
         @include characterAfter();
         bottom: -77%;
         left: -280%;
         transform-origin: 90% 0%;
      }
      &--argyle::before {
         @include characterBefore();
         border-width: 19px 6px;
         bottom: -32%;
         left: 22%;
      }
      &--dustin::after {
         content: 'Dustin';
         @include characterAfter();
         top: -49%;
         left: -110%;
         transform-origin: 90% 100%;
      }
      &--dustin::before {
         @include characterBefore('down');
         border-width: 16px 6px;
         top: -18%;
         left: 12%;
      }
      &--eddie::after {
         content: 'Eddie';
         @include characterAfter();
         bottom: 45%;
         left: -315%;
         transform-origin: 100% 50%;
      }
      &--eddie::before {
         @include characterBefore('right');
         border-width: 6px 30px;
         bottom: 55%;
         left: -90%;
      }
      &--eleven::after {
         content: 'Eleven';
         @include characterAfter();
         top: -22%;
         right: -106%;
         transform-origin: 15% 100%;
      }
      &--eleven::before {
         @include characterBefore('down');
         border-width: 20px 6px;
         top: -1%;
         right: -18%;
      }
      &--erica::after {
         content: 'Erica';
         @include characterAfter();
         bottom: -13%;
         left: -291%;
         transform-origin: 100% 50%;
      }
      &--erica::before {
         @include characterBefore('right');
         border-width: 6px 20px;
         bottom: -1%;
         left: -39%;
      }
      &--hopper::after {
         content: 'Hopper';
         @include characterAfter();
         top: 10%;
         left: -224%;
         transform-origin: 100% 50%;
      }
      &--hopper::before {
         @include characterBefore('right');
         border-width: 5px 32px;
         top: 19%;
         left: -70%;
      }
      &--jonathan::after {
         content: 'Jonathan';
         @include characterAfter();
         bottom: -95%;
         left: -380%;
         transform-origin: 90% 0%;
      }
      &--jonathan::before {
         @include characterBefore();
         border-width: 20px 6px;
         bottom: -48%;
         left: 0%;
      }
      &--joyce::after {
         content: 'Joyce';
         @include characterAfter();
         top: -50%;
         left: -163%;
         transform-origin: 90% 100%;
      }
      &--joyce::before {
         @include characterBefore('down');
         border-width: 20px 6px;
         top: -21%;
         left: -6%;
      }
      &--lucas::after {
         content: 'Lucas';
         @include characterAfter();
         top: -43%;
         left: -163%;
         transform-origin: 90% 100%;
      }
      &--lucas::before {
         @include characterBefore('down');
         border-width: 20px 6px;
         top: -21%;
         left: -6%;
      }
      &--max::after {
         content: 'Max';
         @include characterAfter();
         top: -40%;
         left: -111%;
         transform-origin: 90% 100%;
      }
      &--max::before {
         @include characterBefore('down');
         border-width: 20px 6px;
         top: -17%;
         left: -7%;
      }
      &--mike::after {
         content: 'Mike';
         @include characterAfter();
         top: -5%;
         right: -157%;
         transform-origin: 0% 50%;
      }
      &--mike::before {
         @include characterBefore('left');
         border-width: 6px 20px;
         top: 7%;
         right: -29%;
      }
      &--murray::after {
         content: 'Murray';
         @include characterAfter();
         top: -5%;
         right: -270%;
         transform-origin: 0% 50%;
      }
      &--murray::before {
         @include characterBefore('left');
         border-width: 5px 25px;
         top: 5%;
         right: -41%;
      }
      &--nancy::after {
         content: 'Nancy';
         @include characterAfter();
         top: -64%;
         right: -234%;
         transform-origin: 15% 100%;
      }
      &--nancy::before {
         @include characterBefore('down');
         border-width: 20px 6px;
         top: -1%;
         right: -18%;
      }
   }
   &__hover--argyle:hover ~ &__crop-img-argyle,
   &__hover--dustin:hover ~ &__crop-img-dustin,
   &__hover--eddie:hover ~ &__crop-img-eddie,
   &__hover--eleven:hover ~ &__crop-img-eleven,
   &__hover--erica:hover ~ &__crop-img-erica,
   &__hover--hopper:hover ~ &__crop-img-hopper,
   &__hover--jonathan:hover ~ &__crop-img-jonathan,
   &__hover--joyce:hover ~ &__crop-img-joyce,
   &__hover--lucas:hover ~ &__crop-img-lucas,
   &__hover--max:hover ~ &__crop-img-max,
   &__hover--mike:hover ~ &__crop-img-mike,
   &__hover--murray:hover ~ &__crop-img-murray,
   &__hover--nancy:hover ~ &__crop-img-nancy,
   &__hover--robin:hover ~ &__crop-img-robin,
   &__hover--steve:hover ~ &__crop-img-steve,
   &__hover--will:hover ~ &__crop-img-will {
      display: block;
   }

   &__hover--argyle:hover::after,
   &__hover--dustin:hover::after,
   &__hover--eddie:hover::after,
   &__hover--eleven:hover::after,
   &__hover--erica:hover::after,
   &__hover--hopper:hover::after,
   &__hover--jonathan:hover::after,
   &__hover--joyce:hover::after,
   &__hover--lucas:hover::after,
   &__hover--max:hover::after,
   &__hover--mike:hover::after,
   &__hover--murray:hover::after,
   &__hover--nancy:hover::after,
   &__hover--robin:hover::after,
   &__hover--steve:hover::after,
   &__hover--will:hover::after {
      display: block;
   }

   &__hover--argyle:hover::before,
   &__hover--dustin:hover::before,
   &__hover--eddie:hover::before,
   &__hover--eleven:hover::before,
   &__hover--erica:hover::before,
   &__hover--hopper:hover::before,
   &__hover--jonathan:hover::before,
   &__hover--joyce:hover::before,
   &__hover--lucas:hover::before,
   &__hover--max:hover::before,
   &__hover--mike:hover::before,
   &__hover--murray:hover::before,
   &__hover--nancy:hover::before,
   &__hover--robin:hover::before,
   &__hover--steve:hover::before,
   &__hover--will:hover::before {
      display: block;
   }

   &__hover:hover ~ .character__background,
   &__hover:hover ~ .character__title {
      filter: brightness(0.25);
   }

   &__crop-img-argyle,
   &__crop-img-dustin,
   &__crop-img-eddie,
   &__crop-img-eleven,
   &__crop-img-erica,
   &__crop-img-hopper,
   &__crop-img-jonathan,
   &__crop-img-joyce,
   &__crop-img-lucas,
   &__crop-img-max,
   &__crop-img-mike,
   &__crop-img-murray,
   &__crop-img-nancy,
   &__crop-img-robin,
   &__crop-img-steve,
   &__crop-img-will {
      @include block(90%);
      object-fit: contain;
      -webkit-filter: drop-shadow(0 0 2px black) drop-shadow(0 0 2px black) drop-shadow(0 0 10px var(--primary-color))
         drop-shadow(0 0 5px red);
      filter: drop-shadow(0 0 2px black) drop-shadow(0 0 2px black) drop-shadow(0 0 10px var(--primary-color))
         drop-shadow(0 0 5px red);
      position: absolute;
      top: 0;
      right: 0;
      z-index: 2;
      display: none;
      animation: Appear ease 0.7s;
   }
}
